\documentclass[11pt]{article}

% PACKAGES
\usepackage[landscape,margin=0.15in]{geometry}
\usepackage{url,multicol}
\usepackage{amsmath,amssymb,amsfonts,mathtools}
\usepackage{tikz,graphicx,xcolor}
\usepackage{listings,colortbl}
\usepackage{enumitem,setspace}
\usepackage{array}
\usepackage[brazilian]{babel}
\usepackage[utf8]{inputenc}

\usetikzlibrary{decorations.pathmorphing,calc,shapes.multipart,chains,arrows,positioning}

% PAGE LAYOUT
\parindent0pt
\parskip1pt
\tolerance=1
\emergencystretch=\maxdimen
\hyphenpenalty=100
\hbadness=10000
\setlength{\columnsep}{6pt}
\setlength{\multicolsep}{2pt}

% Minimize white space around display math
\setlength{\abovedisplayskip}{2pt}
\setlength{\belowdisplayskip}{2pt}
\setlength{\abovedisplayshortskip}{1pt}
\setlength{\belowdisplayshortskip}{1pt}

% CUSTOM COMMANDS
\newcommand{\ctitle}[1]{

\centering\underline{\bf\ #1\ }

\raggedright}
\newcommand{\hr}{\centerline{\rule{3.5in}{1pt}}}

\begin{document}

\begin{center}{\large{\textbf{<< sheet.title >>}}}
<% if sheet.author %>
{\small By << sheet.author >>}
<% endif %>
\end{center}
\vspace{-0.4cm}
\begin{multicols*}{3}

\tikzstyle{mybox} = [draw=black, fill=white, thick,
    rectangle, rounded corners, inner sep=5pt, inner ysep=5pt]
\tikzstyle{fancytitle} =[fill=black, text=white, font=\bfseries]

<% for box in sheet.boxes %>
\begin{tikzpicture}
\node [mybox] (box){%
    \begin{minipage}{0.95\columnwidth}
\vspace{4pt}
{\scriptsize\linespread{0.8}\selectfont
<< box.latex_content >>
}\end{minipage}
};
\node[fancytitle, right=5pt] at (box.north west) {<< box.title | latex_escape >>};
\end{tikzpicture}

<% endfor %>

\end{multicols*}
\end{document}
